
body {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 300;
  margin: 20px;
}

h1 {
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 0px;
}

h2 {
  color: #7d97ad;
  font-weight: bold;
  margin: 10px;
}

h4 {
  margin-top: 0px;
}

hr {
  height: 3px;
  border: none;
  /* color: #7d97ad; this was here for old browsers but the CSS validator complained*/
  background-color: #7d97ad;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #2d3c49;
  font-weight: 600;
}

img {
  max-width: 100%;
  transform: scale(-1, -1);
}

.text-center{
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.title-logo {
	margin-top: 20px;
  width: 120px;
  height: 120px;
}

.img-central {
  margin-top: 25px;
  margin-bottom: 15px;
}

.logo-container {
  width: 30%;
}

.title-container {
  width: 70%;
}

/* Large */
@media all and (min-width: 800px) {
  .row {
    display: flex
  }

  .small-items {
    min-width: 0;
    margin-top: 0px;
    width: 32%;
  }

  .middle-item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Medium */
@media all and (max-width: 800px) {
  .row {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .small-items {
    min-width: 0;
    margin: 5px;
    width: 70%;
  }
}

/* Small */
@media all and (max-width: 500px) {
  .row {
    flex-direction: column;
  }

  .small-items {
    min-width: 0;
    margin: 5px;
    width: 100%;
  }

  .text-right {
    text-align: center;
  }

  .text-left {
    text-align: center;
  }

  .logo-container {
    width: 100%;
  }

  .title-container {
    width: 100%;
  }
}



